

body {
    background-color: #fff;
    color: #000;
    font-family:Arial, Helvetica, sans-serif;
    margin:0;
    padding:0;
}

a {
    color: rgb(150, 175, 255);
}

#pageHeader {
    background-color : #2196F3;
    width: 100%;
    height: 75px;
    display: block;
}

#pageHeaderTitle {
    /* background-color: lime; */
    float: left;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
}

#pageHeaderDarkModeBtn {
    /* background-color: blue; */
    width: 10%;
    float: right;
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#darkModeBtn {
    /* background-color: blue; */
    border-radius: 10px;
    cursor: pointer;
}

#pageContent {
    /* background-color: orange; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 75%;
    padding: 0;
}



#canvasDiv {
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    float:left;
}

#rightPanel {
    background-color: #eee;
    /* background-color: #666; */
    /* background-color: lime; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    float:left;
}

.fillContainer {
    /* background-color: #000; */
    width: 100%;
    height: 100%;
}

#rulesSection {
    /* background-color: #ddd; */
    /* padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
    border-radius: 10px; */
    height: 25%;
    width: 100%;
    margin-top: 10px;
}

#rulesSectionHeader {
    /* background-color: #ddd; */
    /* border-radius: 20px; */
    height: 25%;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#rulesSectionHeader h3 {
    background-color: #ddd;
    border-radius: 20px;
    width: 75%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#rulesSectionRuleSet {
    margin:0;
    height: 75%;
    overflow-y: auto;
    background-color: #77bdec;
    /* background-color: yellow; */
    border-radius: 20px;
}

#rulesSectionRuleSet p {
    /* height:100%; */
    margin:12px;
    margin-bottom: 20px;
}

#controlPanel {
    height: 75%;
    width: 100%;
}

#panelTabs {
    background-color: #ddd;
    /* background-color: #555; */
    width: 100%;
    height: 10%;
    padding-top: 5px;
    display: flex;
    align-items: end;
    justify-content: center;
    text-align: center;
    /* border-bottom: 2px solid #222; */
}

.panelTab {
    background-color: #ddd;
    /* background-color: #555; */
    width: 25%;
    height: 40px;
    border-radius: 5px;
    font-size: 12;
    /* color: #222; */
    font-weight: bold;
    margin: 0;
    margin-right: -2px;
    border-radius: 0px 20px 0px 0px;
    cursor: pointer;
    float: left;
}

.selectedTab {
    background-color: #eee;
    /* background-color: #777; */
    border-bottom: 2px solid #eee;
    /* border-bottom: 2px solid #777; */
}

.buttonPanel {
    background-color: #eee;
    /* background-color: #777; */
    width: 100%;
    /* margin: 10px; */
    height: 85%;
    overflow-y: scroll;
}

.buttonPanel table {
    width: 100%;
}

.centerContents {
    display: flex;
    align-items: center;
    justify-content: center;
}

.panelButton {
    background-color: #2196F3;
    min-width: 50px;
    width: 100%;
    height: 40px;
    /* height: 100%; */
    border-radius: 5px;
    color: #eee;
    font-size: 12;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

button {
    position: relative;
}

.digitButtonLabel {
    font-size: 32;
}

.topDigitButtonLabel {
    font-size: 14;
    position: absolute;
    top: 4px;
}

.smallDigitButtonLabel {
    font-size: 14;
}

.colorButtonLabel {
    height: 25px;
    width: 25px;
    border: 2px solid rgba(240, 240, 240, 50);
}

.disabledButton {
    background-color: #aaa;
}



#playPanelTabContainer {
    float:left; 
    /* background-color: #ddd; */
    /* background-color: yellow; */
    width: 24%;
    height: 98%;
    padding-top: 5px;
    position: relative;
    border-right: solid 2px black;
    margin-top: 5px;
    /* display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; */
    /* border-bottom: 2px solid #222; */
}

#playPanelTabContents {
    float:left; 
    width: 75%;
    height: 98%;
    margin:0;
    margin-top: 5px;
    position: relative;
    /* background-color:lime; */
}

.playPanelLeftTab {
    background-color: #ddd;
    /* background-color: #555; */
    width: 90%;
    height: 50px;
    font-size: 12;
    /* color: #222; */
    font-weight: bold;
    margin-left: 3px;
    /* margin-right: -2px; */
    border-radius: 10px;
    border: 2px solid #222;
    cursor: pointer;
    float: left;
    /* center text horizontally and vertically */
    text-align: center;
    display:flex;
    justify-content:center;
    align-items:center;
}

.playPanelSelectedTab {
    background-color: #888;
    /* background-color: #777; */
    /* border-bottom: 2px solid #eee; */
    /* border-bottom: 2px solid #777; */
}

#playPanelTabContents div table {
    height: fit-content;
}





#boardMakerPanelTabContainer {
    float:left;
    /* background-color: #ddd; */
    /* background-color: yellow; */
    width: 24%;
    height: 98%;
    padding-top: 5px;
    position: relative;
    border-right: solid 2px black;
    margin-top: 5px;
    /* display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; */
    /* border-bottom: 2px solid #222; */
}

#boardMakerPanelTabContents {
    float:left;
    width: 75%;
    height: 98%;
    margin:0;
    margin-top: 5px;
    position: relative;
    /* background-color:lime; */
}

.boardMakerPanelLeftTab {
    background-color: #ddd;
    /* background-color: #555; */
    width: 90%;
    height: 50px;
    font-size: 12;
    /* color: #222; */
    font-weight: bold;
    margin-left: 3px;
    /* margin-right: -2px; */
    border-radius: 10px;
    border: 2px solid #222;
    cursor: pointer;
    float: left;
    /* center text horizontally and vertically */
    text-align: center;
    display:flex;
    justify-content:center;
    align-items:center;
}

.boardMakerPanelSelectedTab {
    background-color: #888;
    /* background-color: #777; */
    /* border-bottom: 2px solid #eee; */
    /* border-bottom: 2px solid #777; */
}

#boardMakerPanelTabContents div table {
    height: fit-content;
}






/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    /* background-color: #2196F3; */
    background-color: #2196F3;
}

input:focus + .slider {
    /* box-shadow: 0 0 1px #2196F3; */
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}








#pageFooter {
    width: 100%;
    font-size: 18;
    float:left;
}